.deleting{
    animation: deleting 1500ms ease forwards;
}

.empty-cart{
    opacity: 0;
    animation: fadeIn 1000ms ease-in-out forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

@keyframes deleting {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    30%{
        transform: translateX(0);
        opacity: 0.7;
        filter: blur(1px);
        background: #f8d7da;
        color: #721c24;
    }
    100%{
        transform: translateX(150%);
        opacity: 0.3
    }
}