@import url(./common.css);
@import url(./cart.css);
@import url(./navbar.css);


/*****************************************Banner css*****************************************/

.banner-img {
  background-image: url("../../Img/Home/banner.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
  background-color: #ccc;
}

.banner-text {
  padding: 150px;
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

.banner-text h1,
.banner-text h2 {
  font-weight: bold;
  font-size: 4rem;
  color: #f9b700;
}

.banner-text h3 {
  color: #27272e;
  font-weight: bold;
}

button.get-start-btn {
  color: #f9b700;
  font-weight: bold;
  border-color: #f9b700;
  width: 315px;
  height: 100px;
  font-size: 40px;
  border-radius: 10px;
}
button.get-start-btn:hover {
  color: #27272e;
  background-color: #f9b700;
}
@media screen and (max-width: 1300px) {
  .banner-img {
    background-size: cover;
    width: 100%;
    height: 350px;
  }
  .banner-text {
    padding: 50px;
  }
  .banner-text h1,
  .banner-text h2 {
    font-size: 2.5rem;
  }
  button.get-start-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
  }
}

.top-deal {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  height: 250px;
}
.top-deal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.top-deal .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.top-deal .content h3 {
  font-size: 3rem;
  color: #cc3333;
}

.top-deal .content p {
  font-size: 2rem;
  color: #27272e;
}

.top-deal:hover img {
  transform: scale(1.2);
}
.btn-viewnow {
  background-color: white;
  border-radius: 12px;
  border: none;
  color: #27272e;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
.btn-viewnow:hover {
  background-color: #f9b700;
  color: #27272e;
}

/*****************************************categories css*****************************************/

.cat-size {
  height: 475px;
}

#cat-1 {
  top: 20%;
  left: 9%;
}
#cat-2 {
  top: 55%;
  left: 7%;
}
#cat-2 h3 {
  font-size: 2.5rem;
  color: #fff;
}
#cat-3 {
  top: 70%;
  left: 13%;
}
@media screen and (max-width: 975px) and (min-width: 560px) {
  #cat-1 {
    left: 30%;
  }
  #cat-2 {
    left: 30%;
  }
  #cat-3 {
    left: 30%;
  }
}

/*****************************************Deal Timer css*****************************************/

.month-heading {
  font-size: 6.5rem;
}
@media screen and (max-width: 600px) {
  .month-heading {
    font-size: 5rem;
    text-align: center;
  }
}
.deal-text {
  font-size: 1.25rem;
  font-weight: bold;
}

/*****************************************Timer css*****************************************/

.btn-deal {
  color: #fff;
  background-color: #27272e;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bolder;
  border: solid 5px #27272e;
  border-radius: 15px;
  transition: 0.5s;
}
.btn-deal:hover {
  background-color: #fff;
  color: #27272e;
}

.timer-box {
  background-color: #fff;
  color: #27272e;
  border: #27272e solid 1px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.timer-box h1 {
  font-size: 8rem;
}
.timer-below {
  color: #fff;
  background-color: #27272e;
  border: #27272e solid 1px;
  border-radius: 0px 0px 20px 20px;
  font-size: 2rem;
  font-weight: bolder;
}
/*****************************************Footer css*****************************************/

button.btn.btn-subscribe {
  border-left: 0;
  color: #f9b700;
  background-color: transparent;
  border-color: #f9b700;
}
button.btn.btn-subscribe:hover {
  color: #fff;
  background-color: #f9b700;
  border-color: #f9b700;
}
