@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/*****************************************Some Common css*****************************************/

* {
  font-family: "Nunito", sans-serif;
}
.bg-back {
  background-color: #27272e;
}

.text-back {
  color: #27272e;
}
.text-gray {
  color: #a9a9a9;
}
.bg-gray {
  background-color: #ccc;
}
.bg-yelow {
  background-color: #f9b700;
}
.text-yelow {
  color: #f9b700 !important;
}
.text-size {
  font-size: 1.5em;
}
.text-size-lg {
  font-size: 2em;
}
.text-size-sm {
  font-size: 1.25em;
}
.text-rd {
  color: #cc3333 !important;
}

/*****************************************Social icons css*****************************************/
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square,
.fa-linkedin-square {
  transition: 0.3s;
}
.fa-facebook-square:hover {
  color: #4267b2;
}
.fa-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-twitter-square:hover {
  color: #1da1f2;
}

.fa-linkedin-square:hover {
  color: #0e76a8;
}
/*****************************************Header css*****************************************/

.header {
  background-color: #a8a8ab;
  padding: 20px 30px 20px 20px;
  overflow: hidden;
}

.search-text {
  border: none;
  font-size: 17px;
  border-radius: 15px 0px 0px 15px;
}

.search {
  background-color: #ffffff;
  border: none;
  font-size: 17px;
  border-radius: 0px 15px 15px 0px;
  color: #ccc;
}
.search:hover {
  color: #27272e;
}
.position-bottom {
  margin-top: 22px;
}

/*****************************************Navbar css*****************************************/

.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

button.navbar-toggler {
  font-size: 35px;
}
.bg-main,
.dropdown-item,
.dropdown-menu {
  background-color: #27272e !important;
  font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #cc3333 !important;
}
.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  color: #f9b700 !important;
}
.nav-link {
  margin-right: 10px;
}
a.nav-link.icon {
  font-size: 2.25rem;
  padding-top: 0px;
}
.cart-alert {
  height: 10px;
  width: 10px;
  background-color: #cc3333;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: -6px;
  visibility: hidden;
}

/*************************nav search*************************/

.nav-search-form {
  display: inline-flex;
  margin: 5px;
  padding: 5px;
}
#logo {
  width: 300px;
}
@media screen and (max-width: 1060px) and (min-width: 970px) {
  #logo {
    width: 210px;
  }
}
.nav-search-input {
  margin: 0px;
  padding: 6px 20px;
  font-size: 17px;
  border: none;
  border-radius: 15px 0px 0px 15px;
}
.nav-search-btn {
  padding: 6px 10px;
  font-size: 17px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
  color: #ccc;
}
.nav-search-btn:hover {
  color: #27272e;
}
.navbar-toggler {
  color: #f9b700 !important;
}

/*****************************************Banner css*****************************************/

.banner-img {
  background-image: url("../../Img/Home/banner.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
  background-color: #ccc;
}

.banner-text {
  padding: 150px;
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

.banner-text h1,
.banner-text h2 {
  font-weight: bold;
  font-size: 4rem;
  color: #f9b700;
}

.banner-text h3 {
  color: #27272e;
  font-weight: bold;
}

button.get-start-btn {
  color: #f9b700;
  font-weight: bold;
  border-color: #f9b700;
  width: 315px;
  height: 100px;
  font-size: 40px;
  border-radius: 10px;
}
button.get-start-btn:hover {
  color: #27272e;
  background-color: #f9b700;
}
@media screen and (max-width: 1300px) {
  .banner-img {
    background-size: cover;
    width: 100%;
    height: 350px;
  }
  .banner-text {
    padding: 50px;
  }
  .banner-text h1,
  .banner-text h2 {
    font-size: 2.5rem;
  }
  button.get-start-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
  }
}

.top-deal {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  height: 250px;
}
.top-deal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.top-deal .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.top-deal .content h3 {
  font-size: 3rem;
  color: #cc3333;
}

.top-deal .content p {
  font-size: 2rem;
  color: #27272e;
}

.top-deal:hover img {
  transform: scale(1.2);
}
.btn-viewnow {
  background-color: white;
  border-radius: 12px;
  border: none;
  color: #27272e;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
.btn-viewnow:hover {
  background-color: #f9b700;
  color: #27272e;
}

/*****************************************categories css*****************************************/

.cat-size {
  height: 475px;
}

#cat-1 {
  top: 20%;
  left: 9%;
}
#cat-2 {
  top: 55%;
  left: 7%;
}
#cat-2 h3 {
  font-size: 2.5rem;
  color: #fff;
}
#cat-3 {
  top: 70%;
  left: 13%;
}
@media screen and (max-width: 975px) and (min-width: 560px) {
  #cat-1 {
    left: 30%;
  }
  #cat-2 {
    left: 30%;
  }
  #cat-3 {
    left: 30%;
  }
}

/*****************************************Deal Timer css*****************************************/

.month-heading {
  font-size: 6.5rem;
}
@media screen and (max-width: 600px) {
  .month-heading {
    font-size: 5rem;
    text-align: center;
  }
}
.deal-text {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

/*****************************************Timer css*****************************************/

.btn-deal {
  color: #fff;
  background-color: #27272e;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bolder;
  border: solid 5px #27272e;
  border-radius: 15px;
  transition: 0.5s;
}
.btn-deal:hover {
  background-color: #fff;
  color: #27272e;
}

.timer-box {
  background-color: #fff;
  color: #27272e;
  border: #27272e solid 1px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.timer-box h1 {
  font-size: 8rem;
}
.timer-below {
  color: #fff;
  background-color: #27272e;
  border: #27272e solid 1px;
  border-radius: 0px 0px 20px 20px;
  font-size: 2rem;
  font-weight: bolder;
}
/*****************************************Footer css*****************************************/

button.btn.btn-subscribe {
  border-left: 0;
  color: #f9b700;
  background-color: transparent;
  border-color: #f9b700;
}
button.btn.btn-subscribe:hover {
  color: #fff;
  background-color: #f9b700;
  border-color: #f9b700;
}
/*****************************************cart css*****************************************/

.btn-yelow {
  color: #fff;
  background-color: #f9b700;
  transition: ease-in-out 0.3s;
}
.btn-yelow:hover:not(:disabled){
  color: #f9b700;
  background-color: #27272e;
}
.btn-yelow:hover:disabled{
  color: #fff;
  cursor: not-allowed;
}
.btn-outline-yelow {
  background-color: #fff;
  color: #f9b700;
  border: solid 1px #f9b700;
  transition: ease-in-out 0.3s;
}
.btn-outline-yelow:hover {
  color: #fff;
  background-color: #f9b700;
}
.btn-rd {
  background-color: #cc3333;
  transition: 0.3s;
}
.btn-rd {
  color: #fff;
  background-color: #cc3333;
  transition: 0.3s;
}
.btn-rd:hover {
  color: #cc3333;
  border: solid 1px #cc3333;
  background-color: #fff;
  transition: 0.3s;
}
.cart-sm-text {
  color: #a9a9a9;
  font-size: 0.65em;
}

td.table-data
{
  text-align: center;
  vertical-align: baseline;
}
.cart-img {
  width: 75px;
}
@media screen and (max-width: 580px) {
  .cart-img {
    width: 50px;
  }
  .btn-rd {
    padding: 0.25rem 0.75rem;
  }
}
